name: Build and Publish Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Set build metadata
        id: meta
        run: echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M UTC')" >> $GITHUB_ENV

      - name: Build and push tagged image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64
          build-args: |
            APP_VERSION=${{ github.ref_name }}
            BUILD_DATE=${{ env.BUILD_DATE }}
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}

  cleanup:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Delete old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: suborbit
          package-type: container
          min-versions-to-keep: 5
          delete-only-pre-release-versions: false
          token: ${{ secrets.CR_PAT }}
